html {
  box-sizing: border-box;
}

html * {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.App {
  padding: 12px;
}

.post-enter {
  transform: translateX(-200px);
}

.post-enter-active {
  transform: translateX(0);
  transition: all 200ms ease-in;
}

.post-exit-active {
  transform: translateX(-200px);
  transition: all 200ms ease-out;
}

.pagination {
  display: flex;
  margin: 0 -6px;
  padding: 0;
  list-style: none;
}

.pagination li {
  padding: 0 12px;
  margin: 0 -6px;
}

.page.active {
  font-weight: 700;

  box-shadow: inset 0 0 0 1px teal;
}