html {
  box-sizing: border-box;
}

html * {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  padding: 12px;
}

.post-enter {
  transform: translateX(-200px);
}

.post-enter-active {
  transform: translateX(0);
  transition: all 200ms ease-in;
}

.post-exit-active {
  transform: translateX(-200px);
  transition: all 200ms ease-out;
}