.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 50px;
  padding: 0 12px;

  background-color: lightblue;
}

.nav ul {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-column-gap: 12px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav a {
  text-decoration: none;
  font-family: sans-serif;
  color: #000;
}